<h2>Edit Workout</h2>

<form action="/workouts/<%= @workout.id %>" method="POST">
   <input id="hidden" type="hidden" name="_method" value="PATCH">
   <input type="text" name="title" value="<%= @workout.title %>">
   <input type="submit" value="Submit">
</form>
