

<h2>Workouts</h2>

<ol>
<% @workouts.each do |workout| %>
   <li><a href="/workouts/<%= workout.id %>"><%= workout.title %></a></li>
<% end %>
</ol>



<ul>
   <li><a href="/workouts/new">Add Workout</a></li>
   <li><a href="/account">Account</a></li>
   <li><a href="/logout">Log Out</a></li>
</ul>
