
<form action="/workouts" method="POST">

   <h2>Workout</h2>
      <label for="workout_title">Title</label><br>
      <input id="workout_title" type="text" name="workout[title]"><br>

   <h2>Exercise(s)</h2>
      <label for="exercise_name_1">Name</label><br>
      <input id="exercise_name_1" type="text" name="workout[exercises][][name]"><br>
      <label for="exercise_repetitions_1">Repetitions</label><br>
      <input id="exercise_repetitions_1" type="text" name="workout[exercises][][repetitions]"><br>

      <label for="exercise_name_2">Name</label><br>
      <input id="exercise_name_2" type="text" name="workout[exercises][][name]"><br>
      <label for="exercise_repetitions_2">Repetitions</label><br>
      <input id="exercise_repetitions_2" type="text" name="workout[exercises][][repetitions]"><br>

      <label for="exercise_name_3">Name</label><br>
      <input id="exercise_name_3" type="text" name="workout[exercises][][name]"><br>
      <label for="exercise_repetitions_3">Repetitions</label><br>
      <input id="exercise_repetitions_3" type="text" name="workout[exercises][][repetitions]"><br>

      <label for="exercise_name_4">Name</label><br>
      <input id="exercise_name_4" type="text" name="workout[exercises][][name]"><br>
      <label for="exercise_repetitions_4">Repetitions</label><br>
      <input id="exercise_repetitions_4" type="text" name="workout[exercises][][repetitions]"><br>

      <label for="exercise_name_5">Name</label><br>
      <input id="exercise_name_5" type="text" name="workout[exercises][][name]"><br>
      <label for="exercise_repetitions_5">Repetitions</label><br>
      <input id="exercise_repetitions_5" type="text" name="workout[exercises][][repetitions]"><br>

      <input type="submit" value="Submit">
</form>



<a href="/logout">Log Out</a>
