

<h2>New Workout</h2>

<form action="/workouts" method="POST">
   <p> Title: <input id="workout_name" type="text" name="workout[title]"> </p>
   <input type="submit" value="Submit">
</form>



<a href="/logout">Log Out</a>
