<h2><%= @workout.title %></h2>

<form action="/workouts/<%= @workout.id %>/delete" method="POST">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Workout">
</form>

<a href="/workouts/<%= @workout.id %>/edit">Edit Workout</a>
