

<h2><%= @workout.title %></h2>

<h3> Exercises </h3>



<h2><a href="/workouts/<%= @workout.id %>/edit">Edit Workout</a></h2>

<form action="/workouts/<%= @workout.id %>/delete" method="POST">
   <input id="hidden" type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete Workout">
</form>




<a href="/logout">Log Out</a>
