<h2>Sign Up</h3>

<form action="/registrations" method="POST">
   <p><input type="text" name="username" placeholder="Username"></p>
   <p><input type="text" name="password" placeholder="Password"></p>
   <input type="submit" value="Submit">
</form>
