<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Squash Trainer</title>
   </head>
   <body>

   <div class="container">
      <% if !@error_message.nil? %>
         <div class="alert alert-warning">
           <%= @error_message %>
         </div>
      <% end %>

      <%= yield %>

   </div>

   </body>
</html>
