<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Squash Trainer</title>
   </head>
   <body>
      <nav>
         <a href="/signup">Sign Up</a>
      </nav>
      <%= yield %>

   </body>
</html>
