<h1>New Exercise</h1>

<form action="/exercises" method="POST">
  <label>Name</label>
  <input type="text" name="name"> </br>

  <label>Reps</label>
  <input type="text" name="reps"> </br>

  <label> Which Golf Bag does this belong in? </label>
  <select name="workout_id">
    <% current_user.workouts.each do |bag| %>
      <option value=<%=workout.id %>><%= workout.title %></option>
    <% end %>
  </select>

  <input type="submit" value="Create">
</form>
